# Copia este archivo y llámalo ".env" (sin el .template)
# Luego, rellénalo con los datos FTP de tu servidor Hostalia
# IMPORTANTE: El archivo .env nunca se subirá a GitHub, por tu seguridad.

FTP_HOST="mi-dominio.com o ip-del-servidor"
FTP_USER="mi-usuario-ftp"
FTP_PASS="mi-contraseña-ftp"

# La ruta a la carpeta donde está instalada tu web en Hostalia (ej: /public_html/garuto o /htdocs/garuto)
FTP_PATH="/htdocs/garuto"
